In [1]:
import pandas as pd

In [2]:
def load_data(df_name):
    df = pd.read_clipboard(sep = '|', header = None)
    df = df.copy()
    df[2] = df_name
    return df

In [12]:
dws_dsc_wh_ou_item_age_weekly_sum =\
    load_data('dws_dsc_wh_ou_item_age_weekly_sum');dws_dsc_wh_ou_item_age_weekly_sum

In [14]:
dws_dsc_wh_ou_item_daily_kpi_sum_di = \
    load_data('dws_dsc_wh_ou_item_daily_kpi_sum_di');dws_dsc_wh_ou_item_daily_kpi_sum_di

,0,1,2
0,ou_code,"'OU的全局唯一可识别编码',",dws_dsc_wh_ou_item_daily_kpi_sum_di
1,ou_name,"'OU名称',",dws_dsc_wh_ou_item_daily_kpi_sum_di
2,bg_code,"'OU所属BG的编码',",dws_dsc_wh_ou_item_daily_kpi_sum_di
3,bg_name_cn,"'OU所属BG的中文正式名称',",dws_dsc_wh_ou_item_daily_kpi_sum_di
4,customer_id,"'D365中客户ID',",dws_dsc_wh_ou_item_daily_kpi_sum_di
...,...,...,...
79,median_on_hand_std_pack_qty,"'中位线',",dws_dsc_wh_ou_item_daily_kpi_sum_di
80,on_hand_std_pack_qty_75th_percentile,"'75%线',",dws_dsc_wh_ou_item_daily_kpi_sum_di
81,max_on_hand_std_pack_qty,"'最大pack数量',",dws_dsc_wh_ou_item_daily_kpi_sum_di
82,outbound_stability_rate,"'出库速率',",dws_dsc_wh_ou_item_daily_kpi_sum_di
83,update_time,'ETL更新时间',dws_dsc_wh_ou_item_daily_kpi_sum_di

In [17]:
dws_dsc_wh_ou_item_daily_sum_di = \
    load_data('dws_dsc_wh_ou_item_daily_sum_di');dws_dsc_wh_ou_item_daily_sum_di.head()

              0                  1                                2
0      ou_code     'OU的全局唯一可识别编码',  dws_dsc_wh_ou_item_daily_sum_di
1      ou_name             'OU名称',  dws_dsc_wh_ou_item_daily_sum_di
2      bg_code        'OU所属BG的编码',  dws_dsc_wh_ou_item_daily_sum_di
3   bg_name_cn    'OU所属BG的中文正式名称',  dws_dsc_wh_ou_item_daily_sum_di
4  customer_id        'D365中客户ID',  dws_dsc_wh_ou_item_daily_sum_di

In [18]:
dws_dsc_wh_ou_monthly_kpi_sum = load_data('dws_dsc_wh_ou_monthly_kpi_sum');
dws_dsc_wh_ou_monthly_kpi_sum

,0,1,2
0,ou_code,"'OU的全局唯一可识别编码',",dws_dsc_wh_ou_monthly_kpi_sum
1,ou_name,"'OU名称',",dws_dsc_wh_ou_monthly_kpi_sum
2,bg_code,"'OU所属BG的编码',",dws_dsc_wh_ou_monthly_kpi_sum
3,bg_name_cn,"'OU所属BG的中文正式名称',",dws_dsc_wh_ou_monthly_kpi_sum
4,customer_id,"'D365中客户ID',",dws_dsc_wh_ou_monthly_kpi_sum
...,...,...,...
65,warehouse_site_fee_ratio,"'场地收入占比 (相对固定部分)',",dws_dsc_wh_ou_monthly_kpi_sum
66,value_added_fee_ratio,"'增值收入占比 (增值部分)',",dws_dsc_wh_ou_monthly_kpi_sum
67,labor_productivity,"'单位小时操作收入',",dws_dsc_wh_ou_monthly_kpi_sum
68,estimated_working_hour,"'算法预估的工作量（工作时长）',",dws_dsc_wh_ou_monthly_kpi_sum
69,update_time,'ETL更新时间',dws_dsc_wh_ou_monthly_kpi_sum

In [21]:
dws_dsc_wh_ou_daily_kpi_sum = load_data('dws_dsc_wh_ou_daily_kpi_sum');
dws_dsc_wh_ou_daily_kpi_sum.head()

              0                  1                            2
0      ou_code     'OU的全局唯一可识别编码',  dws_dsc_wh_ou_daily_kpi_sum
1      ou_name             'OU名称',  dws_dsc_wh_ou_daily_kpi_sum
2      bg_code        'OU所属BG的编码',  dws_dsc_wh_ou_daily_kpi_sum
3   bg_name_cn    'OU所属BG的中文正式名称',  dws_dsc_wh_ou_daily_kpi_sum
4  customer_id        'D365中客户ID',  dws_dsc_wh_ou_daily_kpi_sum

In [23]:
dws_dsc_d365_new_business_kpi_ly_ytd = \
    load_data('dws_dsc_d365_new_business_kpi_ly_ytd');
dws_dsc_d365_new_business_kpi_ly_ytd.head()

,0,1,2
0,thedate,"'日期',",dws_dsc_d365_new_business_kpi_ly_ytd
1,new_created_revenue_ly,"'过去一年平均收入（千人民币）',",dws_dsc_d365_new_business_kpi_ly_ytd
2,new_created_opp_count_ly,"'过去一年商机个数',",dws_dsc_d365_new_business_kpi_ly_ytd
3,new_created_gp_ly,"'过去一年平均毛利润（千）',",dws_dsc_d365_new_business_kpi_ly_ytd
4,new_created_loss_revenue_ly,"'过去一年平均收入损失（千）',",dws_dsc_d365_new_business_kpi_ly_ytd

In [24]:
dws_qty_working_hour_labeling_sum_df = \
    load_data('dws_qty_working_hour_labeling_sum_df');
dws_qty_working_hour_labeling_sum_df

,0,1,2
0,max_wh,"'聚类中最大工时_聚类中最大工时',",dws_qty_working_hour_labeling_sum_df
1,min_wh,"'聚类中最小工时_聚类中最小工时',",dws_qty_working_hour_labeling_sum_df
2,median_wh,"'聚类中中位数工时_聚类中中位数工时',",dws_qty_working_hour_labeling_sum_df
3,mean_wh,"'聚类中平均数工时_聚类中平均数工时',",dws_qty_working_hour_labeling_sum_df
4,dis_tt_kernel,"'dis总工时到核',",dws_qty_working_hour_labeling_sum_df
5,dis_os_kernel,"'dis到75*1,2的位置'",dws_qty_working_hour_labeling_sum_df

---

In [26]:
all = pd.concat([
    dws_dsc_wh_ou_item_age_weekly_sum, \
    dws_dsc_wh_ou_item_daily_kpi_sum_di,\
    dws_dsc_wh_ou_item_daily_sum_di, 
    dws_dsc_wh_ou_monthly_kpi_sum, 
    dws_dsc_wh_ou_daily_kpi_sum, 
    dws_dsc_d365_new_business_kpi_ly_ytd, 
    dws_qty_working_hour_labeling_sum_df], axis = 0)

In [28]:
all = all.drop_duplicates(subset=[0,1])

,0,1,2
0,ou_code,"'OU代码',",dws_dsc_wh_ou_item_age_weekly_sum
1,ou_name,"'OU名称',",dws_dsc_wh_ou_item_age_weekly_sum
2,bg_code,"'BG代码',",dws_dsc_wh_ou_item_age_weekly_sum
3,bg_name_cn,"'BG中文名',",dws_dsc_wh_ou_item_age_weekly_sum
4,customer_id,"'客户代码',",dws_dsc_wh_ou_item_age_weekly_sum
...,...,...,...
1,min_wh,"'聚类中最小工时_聚类中最小工时',",dws_qty_working_hour_labeling_sum_df
2,median_wh,"'聚类中中位数工时_聚类中中位数工时',",dws_qty_working_hour_labeling_sum_df
3,mean_wh,"'聚类中平均数工时_聚类中平均数工时',",dws_qty_working_hour_labeling_sum_df
4,dis_tt_kernel,"'dis总工时到核',",dws_qty_working_hour_labeling_sum_df
5,dis_os_kernel,"'dis到75*1,2的位置'",dws_qty_working_hour_labeling_sum_df

In [29]:
all.to_csv('./calculate_measures.csv', index = False, encoding='utf_8_sig')

In [5]:
more = load_data('finance_receive_on_demand_di')

In [7]:
more.to_clipboard(header = None, index = None)

In [5]:
os.listdir('./data_down')

['bca_without_mail.csv',
 'dwd_dsc_d365_contract_df.csv',
 'dwd_dsc_d365_opportunity_df.csv']

In [8]:

for i in os.listdir('./data_down'):
    pd.read_csv('./data_down/' + i, sep = '\001').to_csv('./data_out/' + i , index = None, encoding='utf_8_sig')